/* Global Styling */
@import url("https://fonts.googleapis.com/css?family=Fjalla+One|Varela+Round");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
/* CSS Variables */

:root {
  --title-font: "Fjalla One", sans-serif;
  --paragraph-font: "Varela Round", sans-serif;
  --blue-color: #25a4d0;
  --white-color: #f2f3f4;
  --metal-color: #22333b;
  --black-color: #0a0908;
  --darkgreen-color: #182825;
}

/* Local Styling */
body {
  background-color: var(--metal-color);
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkgrey;
  line-height: 1.3;
  font-weight: 400;
  font-size: 0.8em;
}
.wrapper {
  width: 100vw;
}

.section {
  height: 25vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  font-size: 1em;
  overflow: hidden;
}

.main,
.portfolio {
  background-color: var(--metal-color);
}

.about,
.contact {
  background-color: var(--darkgreen-color);
}

/* MAIN SECTION */

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .logo img {
  max-width: 90%;
  max-height: 100px;
}
.main .content h1 {
  font-family: var(--title-font);
  color: var(--white-color);
}
.main .content h3 {
  font-family: var(--paragraph-font);
  color: var(--white-color);
}
@media (max-width: 500px) {
  .wrapper {
    font-size: 0.75em;
  }
  .section {
    padding: 0 1em;
  }
}

.about,
.portfolio,
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2em;
}
.title {
  font-family: var(--title-font);
  color: var(--white-color);
  border-bottom: 3px solid var(--white-color);
}
span,
i {
  font-family: var(--paragraph-font);
  color: var(--white-color);
  cursor: pointer;
}
.link {
  min-width: 120px;
  text-align: center;
  transition: all 0.8s;
}
.link :hover {
  color: var(--blue-color);
}
.section-full {
  align-items: flex-start;
  overflow-y: auto;
}
.section-content-a,
.section-content-p,
.section-content-c {
  display: none;
  padding: 20px 0;
}
.seen {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
